body{
	margin:0;
	font-family: Arial;
}
#controls{
	width:120px;
	height: 500px;
	position: absolute;
	top:35px;
	bottom:100px;
	left:100px;
	background: #023f8f;
	padding:30px;
}
#drawregion{
	position: absolute;
	left:300px;
	right:0;
	top:3px;
	bottom:0;
	background: url(../imgs/11.jpg) center center;
	background-repeat: no-repeat;
	background-size: 1100px 850px;
}
.styles{
	display: block;
	margin-top: 10px;
}
/*#canvas{
	box-shadow:  0 0 3px black;
	display: block;
	margin:0 auto;
}*/
#controls{
	color:white;
	font-size:17px;
}
.active{
	color:orange;
}
*{
	cursor:pointer;
}